/* Inputs, buttons */
input#emailInp, input#passwordInp, button#signInBtn, button#signOutBtn {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
}
button#signInBtn:not([disabled]), button#signOutBtn:not([disabled]) {
    cursor: pointer;
}
