/* Buttons */
button#refreshBtn, button#uploadBtn, button#clearBtn, button#openOneBtn, button#downloadOneBtn, button#deleteOneBtn {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
}
button#refreshBtn, button#uploadBtn, button#clearBtn, button#openOneBtn:not([disabled]), button#downloadOneBtn:not([disabled]), button#deleteOneBtn:not([disabled]) {
    cursor: pointer;
}

/* Lists */
li {
    cursor: pointer;
    list-style-type: circle;
}
