/* Buttons */
button#refreshBtn, button#downloadBtn, button#clearBtn, button#uploadBtn {
    background-color: lightgray;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

/* Lists */
li {
    cursor: pointer;
}
