/* Input elements and buttons */
input, textarea#notes, button#downloadData, button#resetData, button#returnToYearSelect {
    background-color: gray;
    color: black;
    border-radius: 5px;
}
textarea#notes {
    width: 344px;
    height: 225px;
    resize: none;
}
button#downloadData, button#resetData, button#returnToYearSelect {
    cursor: pointer;
}

/* General layout */
div.formPart {
    position: absolute;
    top: 5px;
}
div#formPart1 {
    left: 5px;
}
div#formPart2 {
    left: 495px;
}
div#formPart3 {
    left: 715px;
}
