/* Input elements and buttons */
input:not([type]), input[type=password], input[type=number], textarea, button#downloadDataBtn, button#saveDataBrowserBtn, button#resetData, button#returnToYearSelect {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
}
textarea#notes {
    width: 344px;
    height: 225px;
    resize: none;
}
textarea#autoNotes, textarea#opNotes {
    width: 344px;
    height: 150px;
    resize: none;
}
button#downloadDataBtn, button#saveDataBrowserBtn, button#resetData, button#returnToYearSelect {
    cursor: pointer;
}

/* General layout */
div.formPart {
    position: absolute;
    top: 5px;
}
div#formPart1 {
    left: 5px;
}
div#formPart2 {
    left: 465px;
}
div#formPart3 {
    left: 715px;
}
